---
import Button from '../components/Button.astro';
import { Img } from 'astro-imagetools/components';
const content = [
    {
        category: "WEB",
        link: "",
        title: "2022年卒業○○さん",
        thumbnail: "/images/interview-thumbnail-miyo.jpg",
        excerpt: "インタビューの抜粋文。これはダミーのテキストです。",
    },
    {
        category: "ネット動画",
        link: "",
        title: "2022年卒業○○さん",
        thumbnail: "/images/interview-thumbnail-takasu.jpg",
        excerpt: "インタビューの抜粋文。これはダミーのテキストです。",
    },
    {
        category: "WEB",
        link: "",
        title: "2022年卒業○○さん",
        thumbnail: "/images/interview-thumbnail-mikazuki.jpg",
        excerpt: "インタビューの抜粋文。これはダミーのテキストです。",
    },
    {
        category: "WEB",
        link: "",
        title: "2022年卒業○○さん",
        thumbnail: "/images/interview-thumbnail-enomoto.jpg",
        excerpt: "インタビューの抜粋文。これはダミーのテキストです。",
    },
];
---
<ul class="container">
    {content.map((item,index) =>
        <li class="item inview-target inview-fadein">
            {index === 0 ?
                <div class="item-inner">
                    <a class="thumbnail-container" href={item.link}>
                        <div class="thumbnail">
                            <Img src={item.thumbnail} alt="" format="webp" />
                        </div>
                        <div class="thumbnail-overlay">インタビューを見てみる</div>
                    </a>
                    <div class="content">
                        <h3 class="information">
                            <span class={`category category--${item.category}`}>{item.category}</span>
                            {item.title}
                        </h3>
                        <p class="excerpt">
                            <sspan class="excerpt-inner">
                                {item.excerpt}
                            </sspan>
                        </p>
                        <div class="button">
                            <Button href="" label="インタビューを見る" width="full" />
                        </div>
                    </div>
                </div>
                : 
                <a class="item-inner" href={item.link}>
                    <div class="thumbnail-container">
                        <div class="thumbnail">
                            <Img src={item.thumbnail} alt="" format="webp" />
                        </div>
                        <h3 class="information">
                            <span class={`category category--${item.category}`}>{item.category}</span>
                            {item.title}
                        </h3>
                        <div class="thumbnail-overlay">インタビューを見てみる</div>
                    </div>
                    <div class="content">
                        <p class="excerpt">
                            <sspan class="excerpt-inner">
                                {item.excerpt}
                            </sspan>
                        </p>   
                    </div>
                </a>
            }
        </li>
    )}
</ul>
<style>
    .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 56px 32px;
        width: var(--content-width);
        margin: 0 auto;
    }
    .thumbnail-container {
        position: relative;
        z-index: 0;
        display: block;
        margin: 0 0 24px;
        border-radius: 12px;
        box-shadow: var(--shadow-primary-medium);
        overflow: hidden;
    }
    .thumbnail-overlay {
        position: absolute;
        inset: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        font-size: 20px;
        color: var(--color-white-primary);
        background: rgba(33,33,33,0.7);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s;
    }
    .thumbnail-overlay::after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: var(--color-white-primary);
        -webkit-mask: url("/images/arrow-secondary-down.svg") center/contain no-repeat;
        mask: url("/images/arrow-secondary-down.svg") center/contain no-repeat;
        transition: transform 0s 0s;
    }
    .thumbnail {
        transition: transform 0.5s;
    }
    .information {
        position: relative;
        z-index: 2;
        padding: 12px 20px 12px 12px;
        font-size: 18px;
        border-radius: 1000px;
        width: fit-content;
        color: var(--color-white-primary);
        text-shadow: var(--text-shadow-primary);
        background: linear-gradient(90deg,var(--color-orange-secondary),var(--color-orange-primary));
        border: 1px solid rgba(255,255,255,0.5);
    }
    .category {
        padding: 4px 12px;
        margin: 0 12px 0 0;
        font-size: 16px;
        text-shadow: none;
        color: var(--color-red-primary);
        border-radius: 1000px;
        background: var(--color-white-primary);
        box-shadow: var(--shadow-primary-medium-strong);
    }
    .category--ネット動画 {
        color: var(--color-blue-primary);
    }
    .button {
        max-width: 320px;
        margin: 0 auto;
    }
    .excerpt {
        position: relative;
        padding: 12px 24px;
        margin: 0 0 24px;
        line-height: 1.625;
        font-size: 24px;
    }
    .excerpt::before,
    .excerpt::after {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        border: 4px solid var(--color-orange-primary);
        transition: 0.5s cubic-bezier(.55,.13,.14,1.05);
    }
    .excerpt::before {
        top: 0;
        left: calc(50% - 32px);
        border-right: none;
        border-bottom: none;
    }
    .excerpt::after {
        bottom: 0;
        right: calc(50% - 32px);
        border-top: none;
        border-left: none;
    }
    .excerpt-inner {
        opacity: 0;
        transition: opacity 0.25s 0.5s;
    }
    .item:global(.is-inview) .excerpt::before {
        left: 0;
    }
    .item:global(.is-inview) .excerpt::after {
        right: 0;
    }
    .item:global(.is-inview) .excerpt-inner {
        opacity: 1;
    }
    .item:first-of-type {

    }
    .item:first-of-type {
        grid-column: span 3;
    }
    .item:first-of-type .item-inner {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 48px;
    }
    :where(.item:first-of-type) .information {
        margin: 0 0 32px;
        box-shadow: var(--shadow-primary-medium);
    }
    :where(.item:not(:first-of-type)) .information {
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 0 24px 0 0;
        border-bottom: none;
        border-left: none;
    }
    :where(.item:first-of-type) .thumbnail-container {
        margin-bottom: 0;
    }
    :where(.item:first-of-type) .content {
        padding-bottom: 24px;
    }
    :where(.item:first-of-type) .excerpt {
        max-width: 560px;
        padding: 24px 32px;
        font-size: 32px;
    }
    :where(.item:first-of-type) .button {
        margin: 0;
    }

    :where(.item a:hover) .thumbnail-overlay {
        opacity: 1;
    }
    :where(.item a:hover) .thumbnail-overlay::after {
        transform: translate(0,3px);
        transition: transform 0s 0.125s;
    }
    :where(.item a:hover) .thumbnail {
        transform: scale(1.25);
    }
</style>