---
import Button from "./Button.astro";
import SubsectionTitle from "./SubsectionTitle.astro";
import Spacer from "./Spacer.astro";
import RecommendList from "./RecommendList.astro";
import CoursePriceInfo from "./CoursePriceInfo.astro";
import { Img } from 'astro-imagetools/components';

const {
    data,
    itemId,
} = Astro.props
---
<div id={itemId} class="container course-item" style={`--dominant-color:${data.color ? data.color : "#EE0101"}`}>
    <div class="outline">
        <div class="text-content">
            <div class="header">
                <h3 class="title">
                    <span class="title-icon">
                        <span style={`-webkit-mask-image:url(${data.icon}); mask-image:url(${data.icon});`}></span>
                    </span>
                    {data.label}
                </h3>
                <p class="copy">{data.copy}</p>
            </div>
            <div class="description">
                <p class="body-text">{data.description}</p>
                <Spacer height="32px" />
                <Button label="詳しく見る" />
            </div>
        </div>
        <div class="image">
            <Img src="/images/course-web-image.png" placeholder="none" format="webp" alt="" />
        </div>
    </div>
    <Spacer height="48px" />
    <SubsectionTitle>こんな方にオススメ</SubsectionTitle>
    <RecommendList data={data.recommend} />
    <Spacer height="32px" />
    <CoursePriceInfo data={data.price} />
</div>
<style>
    .outline {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .text-content {
        width: 55%;
    }
    .description {
        line-height: 2;
    }
    .image {
        position: relative;
        width: 40%;
        aspect-ratio: 434 / 320;
    }
    .image :global(img) {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,0);
        max-width: none!important;
        width: calc(580 / 434 * 100%);
    }
    .header {
        margin: 0 0 24px;
    }
    .title {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 0 0 6px;
    }
    .title-icon {
        position: relative;
        display: block;
        width: 32px;
        height: 32px;
        background: var(--dominant-color,#EE0101);
        border-radius: 1000px;
    }
    .title-icon span {
        position: absolute;
        inset: 4px;
        background: var(--color-white-primary);
        -webkit-mask: center/contain no-repeat;
        mask: center/contain no-repeat;
    }
    .copy {
        font-size: 34px;
    }
</style>